In [1]:
import pandas as pd
from pandas import TimeSeries
import numpy as np
import math
from bokeh.charts import TimeSeries, output_file, show
import statsmodels.tsa.stattools as stat

In [13]:
sp500=pd.read_csv('C:/mine/Course/9894/project/data/sp_500_daily_prices.csv',usecols=['date','COMNAM','PRC',\
                    'RET','ASK','BID'],engine='c')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
sp_recent=sp500[sp500['date']>=start]
sp_recent=sp_recent[sp_recent['date']<=end]

In [24]:
start+int(0.9*(end-start))

20145101

In [26]:
data_in=sp_recent[sp_recent['date']>=start+int(0.9*(end-start))]
data_in=data_in[data_in['date']<=end]
data_in

Empty DataFrame
Columns: [date, COMNAM, PRC, RET, BID, ASK]
Index: []

In [30]:
start=20130101
end=20150101

In [31]:
data,pairs=find_pair(start,end)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2881: DtypeWarning: Columns (18) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)
C:\ProgramData\Anaconda3\lib\site-packages\numpy\linalg\linalg.py:1546: RuntimeWarning: invalid value encountered in greater
  return sum(S > tol)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:875: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:875: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1731: RuntimeWarning: invalid value encountered in greater_equal
  cond2 = (x >= self.b) & cond0

In [32]:
data

             date               COMNAM    PRC        RET    BID    ASK
12956    20141020          ORACLE CORP  37.80  -0.001848  37.79  37.80
12957    20141021          ORACLE CORP  38.35    0.01455  38.34  38.35
12958    20141022          ORACLE CORP  37.64  -0.018514  37.64  37.65
12959    20141023          ORACLE CORP  38.23   0.015675  38.22  38.23
12960    20141024          ORACLE CORP  38.73   0.013079  38.72  38.73
12961    20141027          ORACLE CORP  38.43  -0.007746  38.42  38.43
12962    20141028          ORACLE CORP  38.65   0.005725  38.62  38.63
12963    20141029          ORACLE CORP  38.58  -0.001811  38.58  38.59
12964    20141030          ORACLE CORP  38.50  -0.002074  38.50  38.51
12965    20141031          ORACLE CORP  39.05   0.014286  39.01  39.02
12966    20141103          ORACLE CORP  38.99  -0.001536  38.98  38.99
12967    20141104          ORACLE CORP  39.13   0.003591  39.11  39.12
12968    20141105          ORACLE CORP  39.29   0.004089  39.26  39.27
12969    20141106          ORACLE CORP  39.81   0.013235  39.80  39.81
12970    20141107          ORACLE CORP  39.94   0.003265  39.96  39.97
12971    20141110          ORACLE CORP  40.45   0.012769  40.45  40.46
12972    20141111          ORACLE CORP  40.47   0.000494  40.46  40.47
12973    20141112          ORACLE CORP  40.14  -0.008154  40.13  40.14
12974    20141113          ORACLE CORP  40.72   0.014449  40.72  40.73
12975    20141114          ORACLE CORP  40.84   0.002947  40.85  40.86
12976    20141117          ORACLE CORP  41.16   0.007835  41.14  41.16
12977    20141118          ORACLE CORP  41.26    0.00243  41.27  41.28
12978    20141119          ORACLE CORP  40.92   -0.00824  40.91  40.92
12979    20141120          ORACLE CORP  40.92          0  40.92  40.93
12980    20141121          ORACLE CORP  41.44   0.012708  41.42  41.43
12981    20141124          ORACLE CORP  41.43  -0.000241  41.42  41.43
12982    20141125          ORACLE CORP  41.15  -0.006758  41.16  41.17
12983    20141126          ORACLE CORP  41.87   0.017497  41.88  41.89
12984    20141128          ORACLE CORP  42.41   0.012897  42.41  42.42
12985    20141201          ORACLE CORP  42.08  -0.007781  42.08  42.09
...           ...                  ...    ...        ...    ...    ...
4747348  20141118  Q E P RESOURCES INC  23.42   0.012976  23.42  23.43
4747349  20141119  Q E P RESOURCES INC  23.46   0.001708  23.45  23.46
4747350  20141120  Q E P RESOURCES INC  24.71   0.053282  24.70  24.71
4747351  20141121  Q E P RESOURCES INC  25.33   0.025091  25.31  25.32
4747352  20141124  Q E P RESOURCES INC  24.98  -0.013818  24.98  24.99
4747353  20141125  Q E P RESOURCES INC  24.94  -0.001601  24.93  24.94
4747354  20141126  Q E P RESOURCES INC  24.18  -0.030473  24.18  24.19
4747355  20141128  Q E P RESOURCES INC  20.44  -0.154673  20.44  20.45
4747356  20141201  Q E P RESOURCES INC  21.09   0.031800  21.08  21.09
4747357  20141202  Q E P RESOURCES INC  21.25   0.007587  21.25  21.26
4747358  20141203  Q E P RESOURCES INC  21.98   0.034353  21.99  22.00
4747359  20141204  Q E P RESOURCES INC  22.13   0.006824  22.13  22.14
4747360  20141205  Q E P RESOURCES INC  22.24   0.004971  22.23  22.24
4747361  20141208  Q E P RESOURCES INC  20.94  -0.058453  20.95  20.96
4747362  20141209  Q E P RESOURCES INC  21.94   0.047755  21.94  21.95
4747363  20141210  Q E P RESOURCES INC  20.65  -0.058797  20.65  20.66
4747364  20141211  Q E P RESOURCES INC  20.00  -0.031477  19.99  20.00
4747365  20141212  Q E P RESOURCES INC  19.37  -0.031500  19.38  19.39
4747366  20141215  Q E P RESOURCES INC  18.64  -0.037687  18.63  18.64
4747367  20141216  Q E P RESOURCES INC  18.71   0.003755  18.70  18.71
4747368  20141217  Q E P RESOURCES INC  19.91   0.064137  19.90  19.91
4747369  20141218  Q E P RESOURCES INC  19.69  -0.011050  19.68  19.69
4747370  20141219  Q E P RESOURCES INC  20.53   0.042661  20.52  20.53
4747371  20141222  Q E P RESOURCES INC  19.95  -0.028251  19.94  19.95
4747372  20141223  Q E P RESOURCES INC  19.77  -0.009023  19.76  19.77
4747373  20141224  Q E P RESOURCES INC  19.40  -0.018715  19.39  19.40
4747374  20141226  Q E P RESOURCES INC  19.59   0.009794  19.59  19.60
4747375  20141229  Q E P RESOURCES INC  20.01   0.021440  20.00  20.01
4747376  20141230  Q E P RESOURCES INC  19.70  -0.015492  19.70  19.71
4747377  20141231  Q E P RESOURCES INC  20.22   0.026396  20.22  20.23

[31901 rows x 6 columns]

In [27]:
def data_process(start,end):
    sp500=pd.read_csv('C:/mine/Course/9894/project/data/sp_500_daily_prices.csv',usecols=['date','COMNAM','PRC',\
                    'RET','ASK','BID'],engine='c')
    sp_recent=sp500[sp500['date']>=start]
    sp_recent=sp_recent[sp_recent['date']<=end]
    
    date_list=sorted(list(sp_recent['date']))
    company_recent=list(sp_recent[sp_recent['date']==date_list[0]]['COMNAM'])
    sp_orig=sp_recent[sp_recent['COMNAM']==company_recent[0]][['date','RET']]
    sp_orig=pd.DataFrame(list(sp_orig['RET']),columns=[company_recent[0]],index=list(sp_orig['date']))
    sp_orig=sp_orig[~sp_orig.index.duplicated(keep='first')]
    for i in range(1,len(company_recent)):
        company=company_recent[i]
        current_data=sp_recent[sp_recent['COMNAM']==company][['date','RET']]
        ret=pd.DataFrame(list(current_data['RET']),columns=[company],index=list(current_data['date']))
        ret =ret[~ret.index.duplicated(keep='first')]
        sp_orig=pd.concat([sp_orig,ret],join='outer',axis=1)
    sp_ret=sp_orig.loc[date_list[0]:date_list[int(0.9*len(date_list))],:]
    sp_ret=sp_ret.dropna(axis=1)
    
    
    sp_price=sp_recent[sp_recent['COMNAM']==company_recent[-1]][['date','PRC']]
    sp_price=pd.DataFrame(list(sp_price['PRC']),columns=[company_recent[-1]],index=list(sp_price['date']))
    sp_price=sp_price[~sp_price.index.duplicated(keep='first')]
    for company in company_recent:
        current_data=sp_recent[sp_recent['COMNAM']==company][['date','PRC']]
        price=pd.DataFrame(list(current_data['PRC']),columns=[company],index=list(current_data['date']))
        price =price[~price.index.duplicated(keep='first')]
        sp_price=pd.concat([sp_price,price],join='outer',axis=1)
    sp_price=sp_price.loc[date_list[0]:date_list[int(0.9*len(date_list))],:]
    
    return sp500,sp_ret,sp_price,date_list

In [28]:
def filter_pair(pairs):
    selected_pair=[]
    stock_list=[]
    for pair in pairs:
        if pair[0] not in stock_list and pair[1] not in stock_list:
            selected_pair+=[pair]
            stock_list+=pair
    return selected_pair

In [29]:
def find_pair(start,end):
    sp500,sp_ret,sp_price,date_list=data_process(start,end)
    error_return=['E','D','C','B','A','']
    sp_ret=sp_ret.applymap(lambda x:np.float64(0.0) if x in error_return else np.float64(x))
    sp_pca=np.array(sp_ret)
    cov_company=np.cov(sp_pca)
    cov_company[np.isnan(cov_company)] = 0.0
    eigen_val,eigen_vector=np.linalg.eig(cov_company)
    eigen_vector_max=list(zip(eigen_vector[np.argmax(eigen_val)],sp_ret.columns))
    eigen_vector_max.sort(key=lambda x:x[0],reverse=True)
    eigen_vector_max=list(zip(*eigen_vector_max))
    data=sp_price[list(eigen_vector_max[1][0:20])]
    score_matrix, pvalue_matrix, pairs=find_cointegrated_pairs(data)
    selected_pair=filter_pair(pairs)
    data_inuse=sp_recent[sp_recent['date']>=date_list[int(0.9*len(date_list))]]
    data_inuse=data_inuse[data_inuse['date']<=end]
    return data_inuse,selected_pair

In [7]:
def find_cointegrated_pairs(data):
    n = len(data.columns)
    score_matrix = np.zeros((n, n))
    pvalue_matrix = np.ones((n, n))
    keys = list(data.columns)
    pairs = []
    for i in range(n):
        for j in range(i+1, n):
            S1 = np.array(data[keys[i]])
            S2 = np.array(data[keys[j]])
            result = stat.coint(S1, S2)
            score = result[0]
            pvalue = result[1]
            score_matrix[i, j] = score
            pvalue_matrix[i, j] = pvalue
            if pvalue < 0.01:
                pairs.append((keys[i], keys[j]))
    return score_matrix, pvalue_matrix, pairs

In [13]:
sp_new=sp_new.dropna(axis=1)

In [14]:
error_return=['E','D','C','B','A','']

In [15]:
sp_new=sp_new.applymap(lambda x:np.float64(0.0) if x in error_return else np.float64(x))

In [16]:
sp_pca=np.array(sp_new)

In [17]:
cov_company=np.cov(sp_pca)

In [18]:
cov_company[np.isnan(cov_company)] = 0.0

In [19]:
eigen_val,eigen_vector=np.linalg.eig(cov_company)

In [20]:
eigen_vector_max=list(zip(eigen_vector[np.argmax(eigen_val)],sp_new.columns))

In [21]:
eigen_vector_max.sort(key=lambda x:x[0],reverse=True)

In [22]:
eigen_vector_max=list(zip(*eigen_vector_max))

In [25]:

#sp_price=sp_price.dropna(axis=1)

In [27]:
data=sp_price[list(eigen_vector_max[1][:20])]

In [28]:
score_matrix, pvalue_matrix, pairs=find_cointegrated_pairs(data)

In [43]:
selected_pair=filter_pair(pairs)

In [ ]:
selected_pair=filter_pair(pairs)
data_inuse=sp_recent=sp500[sp500['date']>=date_list[int(0.9*len(date_list))] and sp500['date']<=date_list[-1]]

In [8]:
sp_orig=sp_recent[sp_recent['COMNAM']==company_recent[0]][['date','RET']]
sp_orig=pd.DataFrame(list(sp_orig['RET']),columns=[company_recent[0]],index=list(sp_orig['date']))
sp_orig=sp_orig[~sp_orig.index.duplicated(keep='first')]